# keys.config which stores the default keybindings
# keys_user.config which stores the modified keybindings
# prefs.config which stores the default preferences
# prefs_user.config which stores the modified preferences

reload_config r
toggle_custom_color i
zoom_out J
zoom_in K
rotate_clockwise R

toggle_fullscreen f

fit_to_page_height a
fit_to_page_width s
