# keys.config which stores the default keybindings
# keys_user.config which stores the modified keybindings
# prefs.config which stores the default preferences
# prefs_user.config which stores the modified preferences

# source ~/.config/sioyek/themes/catppuccin-mocha.config
# source ~/.config/sioyek/themes/catppuccin-macchiato.config
# source ~/.config/sioyek/themes/catppuccin-frappe.config
# source ~/.config/sioyek/themes/catppuccin-latte.config

source ~/.config/sioyek/themes/base16-grayscale-dark.config
# source ~/.config/sioyek/themes/base16-grayscale-light.config

startup_commands toggle_custom_color

ui_font ZedMono Nerd Font
font_size 12
# status_bar_color
# status_bar_text_color
status_bar_font_size 12
