# source ~/.config/sioyek/themes/catppuccin-mocha.config
# source ~/.config/sioyek/themes/catppuccin-macchiato.config
# source ~/.config/sioyek/themes/catppuccin-frappe.config
# source ~/.config/sioyek/themes/catppuccin-latte.config

source ~/.config/sioyek/themes/base16-grayscale-dark.config
# source ~/.config/sioyek/themes/base16-grayscale-light.config

startup_commands toggle_custom_color
